@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  &::-webkit-scrollbar{
    width: 0;
  }
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
button{
  width: 100%;
  max-width: 245px;
  padding: 25px 0 23px 0;
  border: 1px solid #FFF;
  background: #111;
  cursor: pointer;

  a{
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 2.5px;
    font-size: 17px;
    color: #FFF;
    text-decoration: none;
    user-select: none;
  }
  &:hover{
    background: white;
    border: 1px solid #111;
    a{
      color: #111;
    }
  }
}

//TABLET VERSION
@media only screen and (max-width:1000px) {
  .container{
    // max-width: 920px;
    // margin: 0 auto;
    padding: 0 39px;
  }
}

//MOBILE VERSION
@media only screen and (max-width:600px) {
  .container{
    // max-width: 920px;
    // margin: 0 auto;
    padding: 0 24px;
  }
}