@import "./base";
@import "./footer";
header{
  width: 100%;
  padding: 65px 0 198px 0;
  background: rgb(0, 0, 0);
  background-image: url(/img/homepage/hero-bg-desktop.png);
  background-repeat: no-repeat;
  background-position: right 0;
  .header{
    display: flex;
    flex-direction: column;
    row-gap: 153px;
    section{
      width: 100%;
      display: flex;
      align-items: flex-end;
      gap: 50px;
      .header__content{
        width: 100%;
        max-width: 508px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 40px;
        .about{
          width: 100%;
          display: flex;
          flex-direction: column;
          color: white;
          h1{
            font-size: 80px;
            font-weight: 300;
            line-height: 80px;
            letter-spacing: -1px;
          }
          p{
            width: 100%;
            max-width: 445px;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
          }
        }
      }
      .timer{
        width: 100%;
        max-width: 552px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div{
          width: 120px;
          height: 120px;
          border: 1px solid #FFF;
          background: #FFF;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p{
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 48px;
            letter-spacing: 2.5px;
          }
          span{
            font-size: 13px;
            font-weight: 500;
            line-height: 13px;
          }
        }
      }
    }
  }
}
// main{
//   width: 100%;
//   background-image: url(/img/patterns/pattern-curve-top-right.svg), url(/img/patterns/pattern-curve-top-left.svg);
//   background-repeat: no-repeat, no-repeat;
//   background-position: left 250px, right 1091px;
//   display: flex;
//   section{
//     // background: red;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     gap: 15px;
//     justify-content: space-between;
//     transform: translateY(-70px);
//     .enjoyable__img{
//       width: 540px;
//       height: 720px;
//       background: #EDEDED;
//       box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.50);
//     }
//     .enjoyable__about{
//       width: 100%;
//       max-width: 445px;
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       gap: 55px;
//       .about{
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         gap: 27px;
//       }
//       h3{
//         font-size: 48px;
//         line-height: 48px;
//         font-weight: 700;
//         letter-spacing: -0.5px;
//         color: #242B37;
//       }
//       p{
//         font-size: 20px;
//         font-weight: 400;
//         line-height: 30px;
//         color: #242B37;
//       }
//     }
//   }

// }